<%- include('partials/header.ejs') %>

    <div class="search-bar-area">
        <form class="search-bar" action="/posts/" method="GET">
            <input type="text" name="termo" id="termo">
            <input type="hidden" name="pagina" value="1">
            <button type="submit">></button>
            <button type="button">+</button>
        </form>
    </div>

    <div class="list-area">
        <div class="list">
            <p>Resultados : <%= resultado.length %> | 
                    Pagina : <%= pagina %> de <%= totalPaginas %>
            </p>
            <hr style="width: 90%;">
            <% resultado.forEach(item=> { %>
                <p>
                    <%= item.titulo %>
                </p>
                <% }) %>
                <% if (resultado.length >= 20) { %>
                    <a href="/posts/?termo=<%= termo %>&pagina=<%= pagina + 1 %>">
                        Carregar mais
                    </a>
                    <% } %>
        </div>
    </div>

    <%- include('partials/footer.ejs') %>