<%- include('partials/header.ejs') %>

    <div class="search-bar-area">
        <form class="search-bar" action="/posts/" method="GET">
            <input type="text" name="termo" value="<%= termo %>" placeholder="Digite alguma coisa..." id="termo" required>
            <input type="hidden" name="pagina" value="1"> <!-- pela barra de pesquisa sempre cai na página 01 -->
            <button type="submit">Pesquisar</button>
            <hr width="100%" color="#ffffff">

            <label for="limite">Resultados por pág.:
                <input type="number" name="limite" value="<%= limite %>" max="50" min="1" id="limite">
            </label>

            <label for="boolean">
                <input type="radio" name="tipo" value="booleana" id="booleana" checked>
                Busca booleana
            </label>

            <label for="natural">
                <input type="radio" name="tipo" value="natural" id="natural">
                Busca por linguagem natural
            </label>

            <hr style="width: 100%;" color="#ffffff">

            <p>
                Página : <%= pagina %> de <%= totalPaginas %> para <%= totalRegistros %> registros encontrados
            </p>
        </form>
    </div>

    <div class="list-area">
        <div class="list">

            <% resultado.forEach(item=> { %>
                <div class="post">
                    <div class="post-header">
                        <%= item.titulo %>
                    </div>
                    <div class="post-body">
                        <%= item.conteudo %>
                    </div>
                    <div class="post-footer">
                        <%= item.tags %>
                    </div>
                </div>
                <% }) %>

                    <% if (resultado.length >= limite) { %>
                        <% if (pagina> 1 ) { %>

                            <a href="/posts/?termo=<%= termo %>&pagina=<%= pagina - 1 %>>&limite=<%= limite %>&tipo=<%= tipo %>">
                                <button class="past-page">Página anterior</button>
                            </a>
                            <% } %>
                                <a href="/posts/?termo=<%= termo %>&pagina=<%= pagina + 1 %>&limite=<%= limite %>&tipo=<%= tipo %>">
                                    <button class="next-page">Próxima página</button>
                                </a>
                                <% } %>
        </div>
    </div>

    <%- include('partials/footer.ejs') %>