<%- include('partials/header.ejs') %>

    <div class="search-bar-area">
        <form class="search-bar" action="/clientes/" method="POST">
            <input type="text" name="termo" id="termo">
            <button type="submit">></button>
            <button type="button">+</button>
            <a href="/clientes/">teste</a>
        </form>
    </div>

    <div class="list-area">
        <div class="list">
            <p>texto de exemplo</p>
            <% if(clientes && clientes.length > 0){ %>
            <% clientes.forEach(cliente => { %>
              <p><%= cliente.nome %> | <%= cliente.cpf %> | <%= cliente.tel %></p> 
            <% }) %>
            <% } %>
        </div>
    </div>  

    <%- include('partials/footer.ejs') %>